*{
    margin: 0;
    padding: 0;
}
/* nav */
.demos-style{
    padding: 15px 0;
    margin-right: 30px;
    color: blue;
}
.Docs-style{
    padding: 15px 0;
}
.Docs-style:hover{
    color: blue;
}
.img-width{
    width: 100%;
}
.nav-div-width{
    width: 12%;
}
.div-items ul{
    display: flex;
    padding-top: 20px;
}
.div-items ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    color: #677788;
}
.div-items ul li:hover{
    color: #3d91ff;
}
.ul-span-style{
    margin-right: 30px;
    font-size: 18px;
    color: #3d91ff;
}
.btn-style{
    background-color: #2c87ff;
    padding: 6px 14px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}
.btn-style:hover{
    background-color: #2f6ad9;
    box-shadow: 0 0 7px 3.5px #cbddff;
}
/* nav-finish */
.half-width{
    width: 50%;
}
.div-width{
    width: 100%;
}
.header-fs{
    font-size: 3.5rem;
}
.ps-container{
    padding-left: 119px;
}
.img-width1{
    width: 100%;
    height: 90%;
}
.margin{
    margin-top: 69px;
}
.color-pera{
    color: #67778b;
}
.btn-style-header{
    padding: 0 37px;
    background-color: #3d91ff;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
}
.btn-style-header:hover{
    box-shadow: 0 0 6px 3px #3188fa;
    background-color: #2f6ad9;
}
.fs-a{
    font-size: 17px;
    text-decoration: none;
}
.margin-b{
    margin-bottom: 50px;
}
.fw-500{
    font-weight: 500;
}
.div-width1{
    width: 28%;
}
.div-width2{
    width: 32%;
}
.bdr-rds{
    border-radius: 15px;
}